
.logo {
    margin-right: 5px;
}

table.light tr th:first-child {
    border-radius: 5px 0 0 0;
}

table.light tr th {
    border-radius: 5px 0 0 0;
}


table.light thead tr th {
    background: 0 0;
    font-size: 10px;
    font-weight: 400;
    color: #959595;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}

table.light tr td {
    padding: 15px;
    font-size: 16px;
    color: #524e4e;
    font-weight: 700;
    background: 0 0;
    vertical-align: middle;
}

.minestat h3 {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.marketplace{
    padding-bottom: 100px;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid #eee;
}

.divider_small {
    margin: 5px 0;
}

.progress {
    height: 1.5rem;
}

.beauty_button {
    width: 48%;
}

.beauty_button_mid {
    width: 36%;
}

.beauty_button_big {
    width: 97%;
}


.card 
{
 width: 15.5rem;
 margin: 2px;
}

.owned_card {
    position:absolute;
    left:0px;
    top:0px;
    font-size:16px;
    padding-left: 4px;
    color: #ffffff;
    background-color: rgb(42, 43, 42);
    display: block;
    width: 42px;
    height: 30px;
    border-radius: 0 0 10px 0;
}

    .mining-anim {
        border-radius: 2px;
        background-color: #000;
        background-position: left top;
        background-size: 400px ;
        padding: 5px;
        width: 730px;
        height: 430px;
        display: inline-block;
        float: left;
        margin-bottom: 5px;
        color: #c0c0c0;
        font-size: 13px;
        font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
        position: relative;
    }

    .console-text{
        display: inline-block;
        height: 230px;
    }

    .static-anim {
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: 14px;
        width: 100%;
    }

    .static-anim ul{
        list-style-type: none;
    }
    

    .network-stat {
        display: inline-block;
        position: absolute;
        width:55%;
        top:0px;
    }
    .pvp-stat {
        display: inline-block;
        width:40%;
        position: absolute;
        right:0px;
    }

    .dos-mining{
        width: 100%;  
        background-color:  #01abab;
        color: #000;
        margin-bottom: 10px;
        margin-top:10px;
    }

    #balance{
        font-weight: 800; 
    }
    #prodPerSec{
        font-weight: 800; 
    }




    .claymore-green{
    color: #006700; 
    }
    .claymore-blue{
    color: #006666; 
    }
    .claymore-purple{
    color: #7d0075; 
    }
    .claymore-gold{
        color: #c09a28; 
    }
    .claymore-red{
        color: #800000; 
    }


.system_stat {
    height: 220px;
    margin-left:20px;
    display: inline-block; 
}

.h6, h6 {
    font-size: 0.9rem;
}

.jumbotron {
    padding: 1rem 1rem;
}

.leaderboard{
    max-width: 800px;
}

.market_buttons {
    position: absolute;
    bottom: -10px;
}

.ico_box{
  display: inline-block;
  height: 320px;  
  background-color: #959595;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-image: url(..//images/ico2.png);
  color: #ffffff;
}

.ico_box h5{
    margin: auto;
    text-align: center
  }

.pull-mid{
    text-align: center;
    display: inline-block;
    width:100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
}

.ico_box h6{
    margin-top: 10px;
    text-align: center
}  

.ico_countdown{
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 30px;
}  

.ico_pot_eth
{
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;  
}

.ico_pot_yours
{
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;  
    font-size: 12px;
}

#left_pct{
   display: inline-block; 
   text-align: left;
   width:33%;
   font-size: 12px;
}

#demo{
    display: inline-block; 
    width:33%;
 }

 #right_pct{
    display: inline-block; 
    text-align: right;
    width:33%;
    font-size: 12px;
 }


 .ico_pot{
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 26px;
    margin-top:-5px;
}  

.ico_pot_under{
    text-align: center;
    width: 100%;
    font-size: 13px;
    margin-top:-5px;
    margin-bottom:10px;
}  

.ico-progress
{
    width: 90%;  
    margin: auto;
}

.ico-buy-button
{
    margin-bottom:5px; 
}

#debug_newico
{
    margin-bottom:5px; 
}

.green-background{
  background-color: #006700;  
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
   background: #d3d3d3;  
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .8s;
    border-radius: 2px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background:   #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background:   #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}



body{
    min-width:1213px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
 }